* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 99.9%;
}
.wrapper {
    display: table;
    height: 100%;
}
.content {
    display: table-row;
    height: 100%;
}

h2 {
    padding: 1em;
}

ul {
    margin-left: 1em;
    padding: 1em;
}