<!DOCTYPE html>
<html>
<head>
    <title>{*index_title*}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="templates/css/common.css" />

</head>
<body>

<div class="wrapper">

    <div class="content">
        <h2>Все проекты:</h2>

        <ul>
            {%*projects_list*}
            <li>
                <a href="/leafletmaps/{*projects_list:project_alias*}">{*projects_list:project_title*}</a>
            </li>
            {*projects_list*%}
        </ul>

    </div>

    <div class="footer">
        <small><em>(c) Karel Wintersky, Dec 2015</em></small>
    </div>

</div>



</body>
</html>