<!DOCTYPE html>
<html>
<head>
    <title>{*project_title*}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/leafletmaps/templates/css/common.css" />

</head>
<body>

<div class="wrapper">

    <div class="content">
        <h2>Карты:</h2>

        <ul>
            {%*maps_list*}
            <li>
                <a href="/leafletmaps/{*project_alias*}/{*maps_list:map_alias*}">{*maps_list:map_title*}</a>
            </li>
            {*maps_list*%}
        </ul>

<!--
        <fieldset>
            <legend>О проекте</legend>
            {*project_description*}
        </fieldset>

-->

        <a href="{*back_url*}">BACK to project index</a>
    </div>

    <div class="footer">
        <small><em>&copy;Karel Wintersky, Dec 2015</em></small>
    </div>

</div>



</body>
</html>